
.nav{
    height: 550px;
    min-width: 1200px; 
}
.layout{
    width: 1200px;
    margin: 0 auto;
    position: relative;
   
}
.menu{
    width: 710px;
    height: 440px;
    position: absolute;
    top:18px;
    left: 0;
    border-radius: 10px;
    background-color:rgba(255,255,255,0.95);
    overflow: hidden;
    ul{
        position: relative;
        list-style: none;
        width: 200px;
        height: 440px;
        box-shadow: 0 0 28px rgba(0,0,0,0.08);
        border-radius: 10px;
        background: rgba(0,0,0,0.05);
        li{
            
            font:16px $font-famliy;
            .list{
                position: relative;
                padding-left: 16px;
                a{
                    line-height: 44px;
                    color:#848484;
                }
                i{
                    &:after{
                        content:"";
                        display: block;
                        position: absolute;
                        width: 16px;
                        height: 16px;
                        right: 16px;
                        top:12px;
                        background: url(https://res8.vmallres.com/20200313/images/echannel/icon/icon01.svg)no-repeat;
                        background-position: -363px 0;
                    }
                }
            }
           
           
        }
        li.active{
            background-color: rgba(255,255,255,0.95);
        }
    }
}

.cartlist{
    position: absolute;
    display: none;
    top:0;
    left:200px;
    min-width:484px;
    padding: 20px 0 0 32px;
    background-color: rgba(255,255,255,0.95);
    ul{
        height: 420px;
        width: 230px;
        float: left;
        box-shadow: none;
        background: #fff;
        margin-right: 10px;
    }
    .subcate-item{
        padding-left: 0;
        padding-bottom: 25px;
        a{
            display: block;
            width: 230px;
            height: 48px;
            border-radius: 10px;
            position: relative;
 
            padding: 6px 0;
            &:hover{
                background-color: #ccc;
            }
            img{
                vertical-align: middle;
                width: 48px;
                height: 48px;
                float: left;
                margin: 0 8px 0 12px;
            }
            p{
                float: left;
                width: 150px;
                vertical-align: middle;
                span{
                    font: 14px $font-famliy;
                }
            }
        }
    }
    .subcate-btn{
        padding-left: 0;
        padding-bottom: 25px;
        a{
            width: 112px;
            height: 42px;
            line-height: 42px;
            margin-top: 8px;
            margin-left: 34px;
            border: 1px solid #f2f2f2;
            border-radius: 0 22px 22px 0;
            font-size: 13px;
            color: #999;
            display: block;
            position: relative;
            text-indent: 34px;
            &:before{
                content:"";
                width: 42px;
                height: 42px;
                background: #fff;
                border: 1px solid #f2f2f2;
                display: block;
                border-radius: 22px;
                position: absolute;
                top: -1px;
                left: -22px;
            }
            &:after{
                content: "";
                width: 0;
                height: 0;
                display: block;
                border-bottom: 5px solid transparent;
                border-top: 5px solid transparent;
                border-left: 5px solid #c0c0c0;
                position: absolute;
                top: 16px;
                left: -1px;
            }
        }
    
    }
}

