@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color:#000;
}
$font-famliy:"Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
@import './top_banner';
@import './header';
@import './menu';
